<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="{% url 'post:Udelete' Tpost.id %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <button type="submit">글삭제</button>
    </form>
<a href="{% url 'post:Ulist' %}">목록으로</a><br/><br/>
<div>제목:{{Tpost.title}}
    </div>
<div>
    내용:{{Tpost.content}}
</div>
<div>
    작성자: {{Tpost.writer.username}}
</div>
    <br/>
    {% for comment in Tcomments %}
        <div>
        {{ comment.writer.username }}:{{ comment.content }}

        </div>
        <br/>
    {% endfor %}

    <form action="{% url 'post:Ucocreate' Tpost.id %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <h2>댓글내용:</h2><textarea  name="Vcocontent"></textarea>
        <button type="submit">댓글작성</button>
    </form>


</body>
</html>